<div style="background-color: blue;">
    <div class="row">
        <div class="col-md-6">
            <a href="">
                <h1>Loja Angular</h1>
            </a>
        </div>
        <div class="col-md-6">
            <div class="col-md-6 d-flex justify-content-end">
                <a routerLink="/cart" style="padding: 10px"
                class="button fancy-button">
                <i class="fas fa-shopping-cart"></i>
                carrinho({{itemCount()}})
                </a>
                
            </div>
        </div>
    </div>
</div>